@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");

/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #f7fcff;
  --color-light-grey: #a0a09f;
  --color-dark-grey: #242323;
  --color-black: #000000;

  /* Font size */
  --font-large: 4rem;
  --font-medium-large: 1.75rem;
  --font-medium: 1.5rem;
  --font-small: 0.875rem;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 500;
  --weight-regular: 400;

  /* Font family */
  --font-libre: "Libre Baskerville", serif;
}

/* Universal tags */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100vh;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

ul {
  list-style: none;
  padding-left: 0;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-semi-bold);
  font-family: var(--font-libre);
  color: var(--color-black);
  margin: 0 0;
}

h2 {
  font-size: var(--font-medium-large);
  font-weight: var(--weight-semi-bold);
  font-family: var(--font-libre);
  color: var(--color-black);
  margin: 1.5rem 0;
}

h3 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  font-family: var(--font-libre);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-black);
  margin: 0.8rem 0;
}

/* Container */
#container {
  width: 100%;
  height: 100vh;
  text-align: left;
  position: relative;
  z-index: 1;
}

#container::after {
  width: 100%;
  height: 100vh;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url(images/desk_macbook.jpg) center/cover no-repeat fixed;
  z-index: -1;
  opacity: 0.8;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  transition: all 0.5s ease-in-out;
  z-index: 10;
}

#navbar.navbar__dark {
  background-color: var(--color-light-grey);
  padding: 0.5rem;
  z-index: 50;
}

.navbar__menu {
  display: flex;
  margin: 0.5rem;
}

.navbar__logo {
  margin: 2rem;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__logo.navbar__dark {
  margin: 0 2rem;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  transition: all 300ms;
}

.navbar__menu__item:hover {
  color: lightgrey;
  padding: 4px 12px;
  margin: 0 4px;
}

.active {
  color: lightgrey;
}

/* Home */
#home__title {
  text-align: left;
  position: relative;
  top: 250px;
}

/* About */
.section {
  padding: 6rem 1.5rem;
  text-align: center;
  max-width: 2000px;
  margin: auto;
  position: relative;
}

#about {
  background-color: var(--color-white);
  background-size: cover;
  background-attachment: fixed;
}

.about__selfie {
  width: 50%;
  border-radius: 6%;
  margin: 2rem 0;
}

/* Gallery */
#gallery {
  width: 100%;
  max-width: 120rem;
  background: url(images/background.jpg) center/cover no-repeat fixed;
}

.gallery__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1.5rem;
  grid-template-areas:
    "gallery__image__0 gallery__image__1 gallery__image__2 gallery__image__2"
    "gallery__image__0 gallery__image__3 gallery__image__4 gallery__image__5"
    "gallery__image__6 gallery__image__6 gallery__image__7 gallery__image__5";
  margin: 4rem;
}

.gallery__container a {
  width: 100%;
  height: 25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery__container a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.5s;
}

.gallery__container a i {
  color: rgba(255, 255, 255, 0.6);
  font-size: 3rem;
  position: relative;
  padding: 1rem 3rem;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 0.4rem;
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 10;
}

.gallery__container a:hover i,
.gallery__container a:hover::before {
  opacity: 1;
}

.gallery__image__0 {
  grid-area: gallery__image__0;
  min-height: 51.5rem;
  background-image: url(images/Gallery/image_0.jpeg);
}

.gallery__image__1 {
  grid-area: gallery__image__1;
  background-image: url(images/Gallery/image_1.jpeg);
}

.gallery__image__2 {
  grid-area: gallery__image__2;
  background-image: url(images/Gallery/image_2.jpeg);
}

.gallery__image__3 {
  grid-area: gallery__image__3;
  background-image: url(images/Gallery/image_3.jpeg);
}

.gallery__image__4 {
  grid-area: gallery__image__4;
  background-image: url(images/Gallery/image_4.jpeg);
}

.gallery__image__5 {
  grid-area: gallery__image__5;
  min-height: 51.5rem;
  background-image: url(images/Gallery/image_5.jpeg);
}

.gallery__image__6 {
  grid-area: gallery__image__6;
  background-image: url(images/Gallery/image_6.jpeg);
}

.gallery__image__7 {
  grid-area: gallery__image__7;
  background-image: url(images/Gallery/image_7.jpeg);
}

@media screen and (max-width: 900px) {
  .gallery__container {
    grid-template-areas:
      "gallery__image__0 gallery__image__0 gallery__image__1 gallery__image__1"
      "gallery__image__0 gallery__image__0 gallery__image__2 gallery__image__2"
      "gallery__image__3 gallery__image__3 gallery__image__4 gallery__image__4"
      "gallery__image__5 gallery__image__6 gallery__image__6 gallery__image__6"
      "gallery__image__7 gallery__image__7 gallery__image__7 gallery__image__7";
  }

  .gallery__container a {
    height: 20rem;
  }

  .gallery__image__0 {
    min-height: 41.5rem;
  }

  .gallery__image__5 {
    min-height: 20rem;
  }
}

@media screen and (max-width: 600px) {
  .gallery__container {
    grid-template-areas:
      "gallery__image__0 gallery__image__0 gallery__image__0 gallery__image__0"
      "gallery__image__1 gallery__image__1 gallery__image__1 gallery__image__1"
      "gallery__image__2 gallery__image__2 gallery__image__2 gallery__image__2"
      "gallery__image__3 gallery__image__3 gallery__image__3 gallery__image__3"
      "gallery__image__4 gallery__image__4 gallery__image__4 gallery__image__4"
      "gallery__image__5 gallery__image__5 gallery__image__5 gallery__image__5"
      "gallery__image__6 gallery__image__6 gallery__image__6 gallery__image__6"
      "gallery__image__7 gallery__image__7 gallery__image__7 gallery__image__7";
  }

  .gallery__container a,
  .gallery__image__0,
  .gallery__image__5 {
    min-height: 30rem;
    height: 30rem;
  }
}

/* Contact */
#contact {
  width: 100%;
  background: darkgray center/cover;
  padding: 1.3rem;
}

.contact__title,
.fa-github,
.fa-home,
.fa-instagram,
.fa-envelope,
.contact__rights {
  color: var(--color-white);
}

.contact__links {
  font-size: var(--font-medium-large);
  margin-bottom: 1rem;
}

.contact__links i {
  margin-left: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.contact__links i:hover {
  margin-left: 0.5rem;
  transform: scale(1.1);
  color: black;
}
